@model blog.Models.Post

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortContents" class="control-label"></label>
                <input asp-for="ShortContents" class="form-control" />
                <span asp-validation-for="ShortContents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contents" class="control-label"></label>
                <input asp-for="Contents" class="form-control" />
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumb" class="control-label"></label>
                <input asp-for="Thumb" type="file" name="fThumb" class="form-control" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <select asp-for="Category.CategoryName" name="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsHot" /> @Html.DisplayNameFor(model => model.IsHot)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Account.FullName" class="control-label"></label>
                <select asp-for="Account.FullName" name="AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsNewFeed" /> @Html.DisplayNameFor(model => model.IsNewFeed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
